<html lang="ru">

{{> head}}

<body>

{{> scripts}}

{{> header}}

<main>

  <div id="preloader">
    <div class="loader"></div>
  </div>
  <button id="randomDataButton">Поиск имени и почты</button>
  <div id="comments"></div>
</main>

{{> footer}}

</body>
</html>