<html lang="ru">

{{> head}}

<body>

{{> scripts}}

{{> header}}

<main>
  <form id="table-form">
    <label for="add-name">введите название товара</label>
    <input type="text" id="add-name" name="add-name">

    <button type="submit">Найти:</button>
  </form>

  <div id="table-container"></div>
</main>

{{> footer}}

</body>
</html>