<footer>
  <div class="footer1">
    <div class="net">НАШИ СОЦСЕТИ</div>
    <a href="https://vk.com/vvvifil">
      <div><img src="/img/vk.png" height="60" width="60" /></div>
    </a><a href="https://instagram.com/vvvifil">
    <div><img src="/img/inst%20.png" height="60" width="60" /></div>
  </a>
  </div>
  <div>
    <div class="net2">СВЯЗЬ</div>
    <div class="number">тел: +79185553535</div>
    <div class="mail">почта: mottocoffee@gmail.com</div>
  </div>
  <div id="footer-id"></div>
  <p>Время генерации страницы: {{ responseTime }}ms</p>

</footer>